<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vuram_test_2.vuram.com.vuram_test_2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="in.wptrafficanalyzer.locationgooglemapviewsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LandingPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationPage" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".OrgProfileActivity" />
        <activity android:name=".NeedDetailsActivity" />
        <activity android:name=".OrgDetailsActivity" />
        <activity android:name=".DetailsOfQuantitySelected" />
        <activity android:name=".LoginPage" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".CoordinatorRegistration" />
        <activity android:name=".DonationConfirmationActivity"
            android:theme="@style/AppTheme1"></activity>
        <activity android:name=".GeneralUser"
            android:theme="@style/AppTheme1">
        </activity>

        <activity android:name=".SplashScreenActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapActivity"
            android:theme="@style/AppTheme1"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".NewNeedActivity"
            android:theme="@style/AppTheme1"
            android:label="@string/app_name"></activity>
    </application>

</manifest>