<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vuram_test_2.vuram.com.vuram_test_2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="in.wptrafficanalyzer.locationgooglemapviewsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewNeedActivity" android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
        <activity android:name=".RegistrationPage" />
        <activity android:name=".HomeActivity" >
            </activity>
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".NeedDetailsActivity" />
        <activity android:name=".OrgDetailsActivity" />
        <activity android:name=".Details_of_quantity_selected" />
        <activity android:name=".LoginPage" />
        <activity android:name=".filter" />
        <activity
            android:name=".AndroidGPSTrackingActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".MapsActivity"
            android:theme="@style/AppTheme1" />
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".LandingPage">
        </activity>
        <activity android:name=".CoordinatorRegistration" />
        <activity android:name=".SplashScreenActivity"></activity>
    </application>

</manifest>